.submit {
  margin: auto;
  display: block;
  width: 156px;
  height: 38px;
  line-height: 38px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: rgba(30, 128, 126, 0.93);
  color: #fff;
  font-weight: 600;
}
